<!--
  Generated template for the RequestListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>requestList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg" padding>

  <div *ngIf="requestList$ | async as requests">
      <ion-card  calss= "card" *ngFor="let r  of requests">
          <ion-item>
            <ion-avatar *ngIf="r.avatar!='null'" item-start>
              <img [src]="img_url+'/'+r.avatar"  (click)="viewUser(r.user_id)">
            </ion-avatar>
            <ion-avatar *ngIf = "r.avatar=='null'" item-start  (click)="viewUser(r.user_id)">
                <img src="img/marty-avatar.png">
              </ion-avatar>
            <h2 ion-text color="secondary"  (click)="viewUser(r.user_id)">{{r.name}}</h2>
          </ion-item>
          <hr>
          <ion-card-content text-center (click) ="showDetails(r)">
            <h2 ion-text color="primary">{{r.title}}</h2>
            <br>
            <p>{{r.details}}</p>
          </ion-card-content>
       
        </ion-card>
    <ion-card>
      <ion-card-title *ngIf ="!requests ||requests.length ==0" text-center> <ion-spinner></ion-spinner></ion-card-title>
    </ion-card>
  </div>
</ion-content>