<!--
  Generated template for the RequestListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>requestList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg" padding>
  <ion-item *ngIf="1==2">
    <ion-select [(ngModel)]="categoryId" *ngIf="categoryList$ | async  as categories" (ngModelChange)="setCategory() "
      interface="popover">
      <ion-option value=0> all</ion-option>
      <ion-option *ngFor=" let c of categories.data" [value]="c.id"> {{c.name}}</ion-option>
    </ion-select>
  </ion-item>
  <div *ngIf="requestList$ | async as requests">
      <ion-card  calss= "card" *ngFor="let r  of requests"(click) ="showDetails(r)">
          <ion-item>
            <ion-avatar *ngIf="r.avatar!='null'" item-start>
              <img [src]="img_url+'/'+r.avatar">
            </ion-avatar>
            <ion-avatar *ngIf = "r.avatar=='null'" item-start>
                <img src="img/marty-avatar.png">
              </ion-avatar>
            <h2 ion-text color="secondary">{{r.name}}</h2>
          </ion-item>
          <hr>
          <ion-card-content text-center>
            <h2 ion-text color="primary">{{r.title}}</h2>
            <br>
            <p>{{r.details}}</p>
          </ion-card-content>
       
        </ion-card>
    <ion-card>
      <ion-card-title *ngIf ="!requests ||requests.length ==0" text-center> <ion-spinner></ion-spinner></ion-card-title>
    </ion-card>
  </div>
</ion-content>