// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg{
  background: rgb(157,213,58);
  background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 80%, rgba(128,194,23,1) 81%, rgba(124,188,10,1) 100%);
  background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 80%,rgba(128,194,23,1) 81%,rgba(124,188,10,1) 100%);
  background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 80%,rgba(128,194,23,1) 81%,rgba(124,188,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
}

.menu{
  background-color: rgba(124,188,10,1) ;
  color : white;
}

.menu-inner {
    left: 0;
    right: auto;
    top: 0;
    background-color: #ffffff9d;
    bottom: 0;
    -webkit-transform: translate3d(-9999px, 0, 0);
    transform: translate3d(-9999px, 0, 0);
    position: absolute;
    display: block;
    width: 304px;
    height: 100%;
    contain: strict;
}

.text-input::-moz-placeholder {
    color: #efe7da;
  }
  
  .text-input:-ms-input-placeholder {
    color:  #efe7da;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #efe7da;
  }