<ion-header>
  <ion-navbar>
    <ion-title> Register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bg" no-bounce>
  <form *ngIf="form" [formGroup]="form" (submit)="doSignup()">
    <ion-slides #slides pager="false">
      <ion-slide>
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
            <!--   <ion-icon name="add"></ion-icon>
                <div>
                  Add Image
                </div> -->
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>
        <ion-item padding>
          <ion-input text-center type="text" formControlName="name" placeholder="Name"></ion-input>
        </ion-item>
        <br>
        <br>
      </ion-slide>
      <ion-slide>
        <br>
        <br>
        <ion-item padding>
          <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item padding>
          <ion-input type="password" formControlName="password" placeholder="Password" required></ion-input>
        </ion-item>

        <ion-item padding>
          <ion-input type="password" placeholder="Confirm password" required></ion-input>
        </ion-item>
        <br>
        <br>

      </ion-slide>
      <ion-slide>
        <div >
          <h5 ion-text color="secondary">Select your Country </h5>
          <ion-list class="slide-list">
     <!--        <ion-item *ngFor=" let c of countries" (click)="selectCountry(c)" padding >
                <ion-avatar item-start>
                <img class="flag" [src]="'assets/img/flags/'+c.country_code.toLowerCase()+'.png'">
                </ion-avatar>
                <ion-label color="light">{{c.country_name}}</ion-label>
                 <ion-checkbox color="primary" [checked]="country && country.id == c.id">
                </ion-checkbox>
                 </ion-item> 
           -->
           <ion-row *ngFor= "let c of counteries " padding> 
             <ion-col col-3>
              <img class="flag" [src]="'assets/img/flags/'+c.country_code.toLowerCase()+'.png'">
             </ion-col>
             <ion-col col-9>
              <ion-label color="light">{{c.country_name}}</ion-label>
             </ion-col>
           </ion-row>
           

          </ion-list>
        </div>
      </ion-slide>
      <ion-slide>
        <ion-row padding>
          <ion-col col-5>
            <ion-label class="item-label">Country *</ion-label>
          </ion-col>
          <ion-col col-7>
            <button ion-button type="button" outline text-center block (click)="showCountries()">{{country!=null
              ?
              country.country_name:'select country'}}</button>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address</ion-label>
          <ion-input type="text" formControlName="address" name="address"></ion-input>
        </ion-item>
        <br>
        <br>
      </ion-slide>
    </ion-slides>

  </form>
  <div calss="btn-container" padding margin>
    <button ion-button color="primary" block (click)=doSignup()>{{getTitle()}} <ion-spinner name="bubbles" *ngIf="working"></ion-spinner></button>

  </div>
</ion-content>